.card {
	padding-top: 10px;
	background-color: $backgroundCard;

	@media (min-width: 922px) {
		padding-top: 40px;
	}

	dl {
		margin-top: 1rem;
	}
}

.card-picture {

	img {
		width: 100%;

	}
}

.contain-card {
	display: flex;
	justify-content: start;
	width: 100%;
	padding: 0 5px;

	dd {
		padding: 0 5px;
		color: $cardText;
	}
}

.card-button {

	.btn-primary {
		font-size: 14px;
		text-transform: uppercase;
		color: $white;
	}
}

.section-reference {
	padding-top: 20px;

	@media (min-width: 768px){
		padding-top: 100px;

	}
}

.reference-holder {
	display: flex;
	justify-content: center;

}

.reference {
	list-style-type: none;
	padding: 5px 10px;

	@media (min-width: 576px) {
		padding: 5px 20px;
	}

	@media (min-width: 768px) {
		padding: 5px 35px;
	}

	
	@media (min-width: 1200px) {
		padding: 5px 55px;
	}

	a {
		text-transform: uppercase;
		text-decoration: none;
		color: $refColor;

		&:hover {
			color: $refHoverColor;

			&:after {
				content: '';
				display: block;
				height: 2px;
				width: 100%;
				background-color: $primary;
			}
		}
	}

	.active {
		color: $refHoverColor;

		&:after {
			content: '';
			display: block;
			height: 2px;
			width: 100%;
			background-color: $primary;
		}
	}
}

.posts {
	padding-top: 40px;
}
