.main {
	margin-bottom: 40px;

	@media (min-width: 922px) {
		margin-bottom: 100px;
	}
}

.person {
	margin-bottom: 20px;
	background-color: $backgroundCard;

	@media (min-width: 768px){
		margin-bottom: 40px;

	}

	

	dl {
		margin-top: 1rem;
	}
}

.person-picture {

	img {
		width: 100%;

	}
}

.person-contain {
	display: flex;
	justify-content: start;
	width: 100%;
	padding: 0 5px;

	dd {
		padding: 0 5px;
		color: $cardText;
	}
}

.person-button {

	.btn-primary {
		font-size: 14px;
		text-transform: uppercase;
		color: $white;
	}
}

.section-reference {
	margin-bottom: 20px;
	
	@media (min-width: 768px) {
		margin-bottom: 40px;
	}
}

// .reference-holder {
// 	display: flex;
// 	justify-content: center;

// }

.reference {
	list-style-type: none;
	padding: 5px 10px;

	@media (min-width: 576px) {
		padding: 5px 5px;
	}

	@media (min-width: 768px) {
		padding: 5px 25px;
	}

	
	@media (min-width: 1200px) {
		padding: 5px 55px;
	}

	a {
		text-transform: uppercase;
		text-decoration: none;
		color: $refColor;

		&:hover {
			color: $refHoverColor;

			&:after {
				content: '';
				display: block;
				height: 2px;
				width: 100%;
				background-color: $primary;
			}
		}
	}

	.active {
		color: $refHoverColor;

		&:after {
			content: '';
			display: block;
			height: 2px;
			width: 100%;
			background-color: $primary;
		}
	}
}


