@import "bootstrap-custom";
@import "fonts";
@import "myVariables";

* {
  box-sizing: border-box;

  &:before,
  &:after {
    box-sizing: border-box;
  }
}

.holder {
	background-color: $body-bg;
}

@import "header";
@import "mainPost";
@import "footer";